:root {
    --primary-color: #2d48ed;
    --white: #fff;
    --lite-grey: rgb(202, 195, 195);
    --text-color: #dde4e7;
    --icon-container: #fdfdfc;
}

.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
}

.header .logo h2 {
    color: var(--white);
    letter-spacing: 0.2px;
    font-weight: 5;
    font-size: 25px;
}

.header .navbar .list {
    display: flex;
    justify-content: space-between;


}

.header .navbar ul {
    list-style-type: none;
}

.header .navbar ul li {
    padding: 15px;
    color: var(--white);
}

.header .tel {
    color: var(--white);
}

.header .tel i {
    border-radius: 50%;
    background-color: var(--lite-grey);
    padding: 10px;
    font-size: 10px;
    margin-right: 10px;

}

.container {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;


}

.container .right {
    width: 50%;
}

.container .right img {
    width: 400px;
    height: 300px;

    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 70px;

}

.container .left {
    width: 50%;
}



.container .left .left-part {
    padding-top: 150px;
    padding-bottom: 150px;
    margin-left: 250px;
}

.container .left .left-part h2 {
    color: var(--white);
    letter-spacing: 0.4px;

    font-size: 30px;
}

.container .left .left-part p {
    color: var(--text-color)
}

.container .left .left-part .watch-video {
    display: flex;

    gap: 40px;
}

.container .left .left-part .watch-video button {
    color: var(--primary-color);
    width: 150px;
    height: 40px;
    letter-spacing: 0.9px;
    align-content: center;
    font-size: 15px;
}

.container2 {
    background-color: var(--white);
    display: flex;
    justify-content: center;

}

.container2 .left2 {
    width: 50%;
}

.container2 .left2 img {
    width: 500px;
    height: 350px;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;


}

.container2 .right2 h3 {
    margin-bottom: 0px;
    margin-top: 30px;

}

.container2 .right2 p {
    color: rgb(80, 93, 108);
    margin-top: 4px;


}

.container2 .right2 .ad .ad1 .description h4 {
    margin-bottom: 0px;
}

.container2 .right2 .ad .ad1 {
    display: flex;
    gap: 15px;
}

.container2 .right2 .ad .ad1 .icon {
    width: 50px;
    height: 50px;
    background-color: #f5faff;

    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.container2 .right2 .ad .ad1 .icon i {
    color: var(--primary-color);
    font-size: 25px;
}

.container3 {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 150px;
    flex-direction: row;
    justify-items: center;

}

.container3 .add1 {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}

.container3 .add1 .icon {
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.container3 .add1 .icon i {
    color: var(--white);
    font-size: 40px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 40px;




}

.container3 .add1 .desc .h3 {
    color: var(--white);
    font-size: 15px;
    margin-bottom: 0px;
}

.container3 .add1 .desc p {
    color: var(--text-color);
    font-size: 12px;
    letter-spacing: 0.5px;


}
.container4{
    background-color:rgba(242,242,242,255);
    width: 100%;
    
}
.container4 .our-services{
    width: fit-content;
    margin: auto;
}
.container4 .our-services h2{
    color: var(--primary-color);
    padding-top: 40px;
    width: fit-content;
    margin: auto;
    font-size: 30px;
    padding-bottom: 5px;
}
.container4 .our-services p{
    color: rgba(205,205,205,255);
    margin: 0;

    

}
.container4 .our-services .p2{
    color: rgba(205,205,205,255);
    width: fit-content;
    margin: auto;
    padding-bottom: 30px;


}

.container4 .cards-containers .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.container4 .cards-containers .card-container .card .card-icon{
    width: 50px;
    height: 50px;
    background-color: #f5faff;

    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  
}
.container4 .cards-containers .card-container .card .card-icon i {
    color: var(--primary-color);
    font-size: 30px;

}
.container4 .cards-containers .card-container .card{
    background-color: rgba(255,255,255,255);
    width: 300px;
    height: 250px;
    margin: 12px;
    
    
   
}.container4 .cards-containers .card-container .card .card-description{
    margin: auto;
    width: fit-content;
}

.container4 .cards-containers .card-container .card .card-description h2{
    margin: auto;
    width: fit-content;
    font-size: 15px;
    padding: 15px;
}
.container4 .cards-containers .card-container .card .card-description p{
    margin: auto;
    width: fit-content;
    font-size: 12px;
    font-weight: 5;
   
}
.container4 .cards-containers .card-container .card .card-btn{
    color: var(--primary-color);
    width: 100px;
    height: 40px;
    letter-spacing: 0.9px;
    align-content: center;
    font-size: 10px;
    align-content: center;
    border-color: var(--primary-color);
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
   
}
@media screen and (max-width: 900px) {
    .navbar{
        display: none;
    }
    .container{
        display: block;
    }
    .container2{
        display: block;
    }
    
    .container4{
        display: block;
    }
    .container .left{
        width: 100%;
    }
    .container .right{
        width: 100%;
    }
    .container2 .left2{
        right: 100%;
    }
    .container2 .right2{
        width: 100%;
    }
    
    .container3 .add1{
        display: block;
    }
    
    .container3 .add1 .desc{
        display: none;
       
    }
    .container4 .cards-containers .card-container {
        display: block;
       
    }
}
  



